.footer {
	margin-top: 210px;
	background-image: url("../img/footer/background.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.subscription__box {
	text-align: center;
	background-image: url("../img/footer/mail.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	border-radius: 20px;
	overflow: hidden;
}

.subscription__box-tittle {
	font-size: 36px;
	padding: 80px 234px;
	color: white;
}

@media (max-width: 956px) {
	.subscription__box-tittle {
		padding: 20px 15px;
		margin: 15px 0;
	}
}

.subscription__box-form {
	padding-bottom: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media (max-width: 956px) {
	.subscription__box-form {
		padding-bottom: 35px;
	}
}

.subscription__box-input {
	background-color: white;
	border: 0px solid red;
	border-radius: 10px;
	padding: 20px 300px 20px 25px;
}

.subscription__box-input::placeholder {
	font-style: italic;
}

.subscription__box-input--name {
	margin-bottom: 25px;
}

.subscription__box-input--phone {
	margin-bottom: 70px;
}

.subscription__box-button {
	margin: 0 auto;
	border-radius: 50px;
	color: $button__color-text;
	background: $box-info--text;
	padding: 20px 90px;
	font-weight: bold;
}

.subscription__box-button:hover {
	background: #5ccf02;
}

.footer__row-2 {
	padding: 30px 0;
}

.aside__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}

.social__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social__list-item {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: white;
	margin-right: 15px;
	position: relative;
	color: $box-numbers;
	font-size: 20px;
}

.fb::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Font Awesome 5 Brands";
	font-weight: 900;
	content: "\f39e";
}

.insta::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Font Awesome 5 Brands";
	font-weight: 900;
	content: "\f16d";
}

.youtube::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Font Awesome 5 Brands";
	font-weight: 900;
	content: "\f167";
}

.social__list-item.fb:hover {
	color: blue;
}

.social__list-item.insta:hover {
	color: black;
}

.social__list-item.youtube:hover {
	color: red;
}

.nda {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nda__text {
	margin-left: 20px;
	color: white;
	text-decoration: underline;
}