.header {
	background-image: url("../img/header/background-3.png");
	background-repeat: no-repeat;
	background-position: top right;
	// background-size: cover;
	height: 790px;
}

@media (max-width: 1316px) {
	.header {
		background-size: 50%;
		background-position: right;
	}

	@media (max-width: 888px) {
		.header {
			background-position: bottom right;
		}
	}
}

.header__row-1 {
	padding-top: 95px;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1316px) {
	.header__menu {
		justify-content: center;
	}
}

.header__menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu-item {
	margin-left: 65px;
}

.header__menu-item--price {
	background-color: white;
	border-radius: 15px;
	padding: 10px 35px;
	font-weight: bold;
}

.header__menu-item>a {
	color: $header__menu-item-text;
}

.header__menu-item--price>a {
	color: blue;
}

.header__row-2 {
	margin-top: 160px;
	margin-left: 100px;
}

.header__info {
	max-width: 405px;
}

.header__info-tittle {
	font-size: 50px;
	font-weight: bold;
	color: $header__info-tittle;
}

.header__info-text {
	margin-top: 60px;
	margin-bottom: 113px;
	font-size: 18px;
	color: $header__text;
	font-weight: 300;
	line-height: 30px;
}

.header__info-button {
	border-radius: 50px;
	color: $button__color-text;
	background: $button__background;
	padding: 30px 65px;
	font-weight: bold;
}

.header__info-button:hover {
	background: #5ccf02;
}