.header {
	background-image: url("../img/header/background-3.png");
	background-repeat: no-repeat;
	background-position: top right;
	// background-size: cover;
	height: 790px;
}

@media (max-width: 1703px) {
	.header {
		background-size: 50%;
		background-position: right;
	}

	@media (max-width: 1370px) {
		.header {
			background-position: bottom right;
		}
	}

	@media (max-width: 470px) {
		.header {
			background-size: 50%;
			background-position: bottom right;
		}
	}
}

.header__row-1 {
	padding-top: 95px;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1316px) {
	.header__menu {
		justify-content: center;
	}
}

.header__menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu-item {
	margin-left: 65px;
}

.header__menu-item--price {
	background-color: white;
	border-radius: 15px;
	padding: 10px 35px;
	font-weight: bold;
}

.header__menu-item>a {
	color: $header__menu-item-text;
}

.header__menu-item--price>a {
	color: blue;
}

.header__row-2 {
	margin-top: 160px;
	margin-left: 60px;
}

@media (max-width: 650px) {
	.header__row-2 {
		margin-top: 65px;
		margin-left: 35px;
	}

	@media (max-width: 650px) {
		.header__row-2 {
			margin-left: 15px;
		}
	}
}

.header__info {
	max-width: 645px;
}

@media (max-width: 512px) {
	.header__info {
		max-width: 900px;
	}
}

.header__info-tittle {
	font-size: 50px;
	font-weight: bold;
	color: $header__info-tittle;
}

@media (max-width: 428px) {
	.header__info-tittle {
		font-size: 35px;
	}
}

.header__info-text {
	margin-top: 60px;
	margin-bottom: 113px;
	font-size: 18px;
	color: $header__text;
	font-weight: 300;
	line-height: 30px;
	max-width: 425px;
}

.header__info-button {
	border-radius: 50px;
	color: $button__color-text;
	background: $button__background;
	padding: 25px 80px;
	font-weight: bold;
}

.header__info-button:hover {
	background: #5ccf02;
}