.section__price {
	background-image: url("../img/section/section__price/background.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 17%;
}

.price__box-list {
	display: flex;
	// justify-content: space-between;
	// align-items: center;
	flex: 0 0 33.3%;
}

// @media (max-width: 1024px) {
// 	.price__box-list {
// 		flex-wrap: wrap;
// 	}
// }

@media (max-width: 1024px) {
	.price__box-item {
		margin: 20px auto;
	}
}

.price__box-item--second,
.price__box-item--first {
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
	margin-left: 20px;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (max-width: 1024px) {

	.price__box-item--second,
	.price__box-item--first {
		max-width: 300px;
	}

	@media (max-width: 989px) {

		.price__box-item--second,
		.price__box-item--first {
			max-width: 300px;
			margin: 0 auto 0 auto;
		}
	}

	@media (max-width: 962px) {

		.price__box-item--second,
		.price__box-item--first {
			max-width: 280px;
		}
	}

	@media (max-width: 900px) {

		.price__box-item--second,
		.price__box-item--first {
			max-width: 270px;
		}
	}

	@media (max-width: 870px) {

		.price__box-item--second,
		.price__box-item--first {
			max-width: 265px;
		}
	}
}

.price__box-info {
	text-align: center;
	padding: 10px;
}

.price__box-tittle {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}

.price-tp,
.price-cost {
	font-weight: 600;
	margin: 10px 0px;
	font-size: 35px;
	color: rgb(88, 88, 88);
}

.price-cost {
	color: black;
	font-weight: bold;
}

.price-text {
	line-height: 2;
	margin-bottom: 10px;
	font-size: 16px;
}

.price-buy {
	background-color: transparent;
	border-radius: 50px;
	color: black;
	border: 2px solid $button__background;
	padding: 15px 65px;
	margin: 20px 0;
	font-weight: bold;
}

.price-buy:hover {
	color: white;
	background-image: linear-gradient(to right,
			#841ca2,
			#7e27a8,
			#772fae,
			#7036b4,
			#683db9,
			#6342bd,
			#5d47c0,
			#574bc3,
			#534fc6,
			#4f53c9,
			#4b56cb,
			#475ace);
}

.price-buy--popular {
	color: $button__color-text;
	background: $button__background;
}

.price-buy--popular:hover {
	background-image: linear-gradient(to right,
			#841ca2,
			#7e27a8,
			#772fae,
			#7036b4,
			#683db9,
			#6342bd,
			#5d47c0,
			#574bc3,
			#534fc6,
			#4f53c9,
			#4b56cb,
			#475ace);
}