.section__price {
	background-image: url("../img/section/section__price/background.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 17%;
}

.price__box-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 463px) {
	.price__box-list {
		flex-direction: column;
	}
}

.price__box-item--second,
.price__box-item--first {
	box-shadow: 0 6px 12px rgba(32, 33, 39, 0.08);
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 400px;
}

.price__box-item--second {
	margin-left: 20px;
}

@media (max-width: 463px) {

	.price__box-item--second {
		margin: 20px 0 0 0;
	}
}


.price__box-info {
	text-align: center;
	padding: 10px;
}

.price__box-title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}

.price-tp,
.price-cost {
	font-weight: 600;
	margin: 10px 0px;
	font-size: 35px;
	color: rgb(88, 88, 88);
}

.price-cost {
	color: black;
	font-weight: bold;
}

.price-text {
	line-height: 2;
	margin-bottom: 10px;
	font-size: 16px;
}

.price-buy {
	background-color: transparent;
	border-radius: 50px;
	color: black;
	border: 2px solid $button__background;
	padding: 15px 65px;
	margin: 20px 0;
	font-weight: bold;
}

.price-buy:hover {
	color: white;
	background-image: linear-gradient(to right, #3db2fd, #00c8ff, #00d9dd, #00e28f, #4fe300);
}

.price-buy--popular {
	color: $button__color-text;
	background: $button__background;
}

.price-buy--popular:hover {
	background-image: linear-gradient(to right, #3db2fd, #00c8ff, #00d9dd, #00e28f, #4fe300);
}