.section__decision {
	background-image: url("../img/section/section__decision/background.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 70%;
}

.content__box-item--left,
.content__box-item--right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1020px;
	margin-bottom: 20px;
}

.content__box-img--left,
.content__box-img--right {
	width: 100%;
}

.content__box-info--right,
.content__box-info--left {
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.70);
	margin-top: 10px;
	padding: 30px 30px;
}

.content__box-img--left {
	order: 2;
	margin-left: 10px;
}

.content__box-info--right {
	order: 1;
}

.content__box-info--tittle--right,
.content__box-info--tittle--left {
	margin: 30px 0px;
}