.section {
	margin-top: 150px;
}

.section__problem {
	background-image: url("../img/section/section__problem/background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.section__row-1 {
	text-align: center;
	margin-bottom: 100px;
}

.section__tittle {
	font-size: 36px;
	font-weight: bold;
	max-width: 715px;
	margin: 0 auto;
	line-height: 1.1;
}

.content__box {
	margin: 0 116px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}

.content__box-item {
	max-width: 300px;
	margin-left: 15px;
}

.content__box-img {
	text-align: center;
}

.content__box-info {
	padding: 35px 17px;
	background-color: white;
	border-radius: 10px;
	margin-top: 63px;
}

.content__box-info--tittle {
	color: $box-info--tittle;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 35px;
}

.content__box-info--text {
	font-size: 18px;
	font-weight: 300;
	color: $box-info--text;
	line-height: 1.8;
}