.section__decision {
	background-image: url("../img/section/section__decision/background.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 70%;
}

.content__box--section__decision {
	background-color: transparent;
}

.content__box-item--left,
.content__box-item--right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1020px;
	margin-bottom: 20px;
}

@media (max-width: 810px) {

	.content__box-item--left,
	.content__box-item--right {
		flex-direction: column;
	}
}

.content__box-img--left,
.content__box-img--right {
	width: 100%;
}

.content__box-info--right,
.content__box-info--left {
	box-shadow: 0 6px 12px rgba(32,33,39,0.08);
	margin-top: 10px;
	padding: 30px 30px;
}

.content__box-img--left {
	order: 2;
	margin-left: 10px;
}

.content__box-info--right {
	order: 1;
}

@media (max-width: 810px) {

	.content__box-img--left,
	.content__box-img--right {
		order: 0;
		text-align: center;
	}

	.content__box-info--right {
		order: 0;
	}
}

.content__box-info--tittle--right,
.content__box-info--tittle--left {
	margin: 30px 0px;
	color: $box-info--tittle;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 35px;
}