$header__info-tittle:#1c2056;
$header__text:#2d2058;
$header__menu-item-text:white;
$button__color-text:white;
$button__background:#2870db;
$box-info--text:#546e7a;
$box-info--tittle:#263238;
$box-numbers:black;