footer.footer
	.container
		.footer__row-1
			.subscription__box
				.subscription__box-tittle Остались вопросы?<br> - Напишите в Messenger и мы ответим
				form.subscription__box-form(action="send.php" method="post")
					input(type="text", name="name" placeholder="Ваше имя" required).subscription__box-input.subscription__box-input--name
					input(type="tel", name="phone" placeholder="Ноиер телефона" required).subscription__box-input.subscription__box-input--phone
					button.subscription__box-button(type="submit" valuer= "Отправить") Отправить
		.footer__row-2
			.aside__box
				.socials
					.social__list
						a(href="https://www.facebook.com/pstbog", target="_blank", rel="noopener noreferrer").social__list-item.fb
						a(href="https://www.instagram.com/note4biz_/?igshid=ouerc7j6n1qo", target="_blank", rel="noopener noreferrer").social__list-item.insta
						a(href="http://", target="_blank", rel="noopener noreferrer").social__list-item.youtube
				.nda
					a(href="http://", target="_blank", rel="noopener noreferrer").nda__text Отказ от ответственности
					a(href="http://", target="_blank", rel="noopener noreferrer").nda__text Соглашение на обработку персональных данных
					a(href="http://", target="_blank", rel="noopener noreferrer").nda__text О компании