header.header
	.container
		.header__row-1
			.header__menu
				.header__logo
					img(src="img/header/logo.png", alt="").logo
				.header__menu-list
					.header__menu-item Home
					.header__menu-item Hiking
					.header__menu-item About
					.header__menu-item Login
			.header__row-2
				.header__col-1
					.header__info
						.header__info-tittle Let’s get the top of Mountain
						.header__info-text Here is the hiking information you need to decide if it is right for you, and to make it more interesting, enjoyable, and safe.
						button.header__info-button
