header.header
	.container
		.header__row-1
			.header__menu
				.header__logo
					img(src="img/header/logo.png", alt="").logo
				ul.header__menu-list
					li.header__menu-item <a href="">Home</a>
					li.header__menu-item <a href="">Для кого?</a>
					li.header__menu-item <a href="">Цена</a>
					li.header__menu-item.header__menu-item--login <a href="">Login</a>
		.header__row-2
			.header__col-1
				.header__info
					.header__info-tittle Let’s get the top of Mountain
					.header__info-text Here is the hiking information you need to decide if it is right for you, and to make it more interesting, enjoyable, and safe.
					button(type="submit").button.header__info-button Get Started
