.section.section__price
	.section__row-1
		h2.section__tittle Сколько стоит это чудо?
	.section__row-2
		.container
			.price__box
				.price__box-list
					.price__box-item
						.price__box-info.price__box-info--description
							.price__box-tittle Почему столько ?
							.price__box-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque maiores mollitia, obcaecati veritatis, error voluptatem tempora quos animi nisi tempore omnis, repellat accusamus reprehenderit quidem nulla velit dicta? Voluptate, quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias provident molestiae voluptate cupiditate debitis, odio vitae fugit est distinctio dolor deserunt, error unde blanditiis earum, maxime id inventore quaerat. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam repellat tempore porro perspiciatis nihil perferendis reiciendis iure! Molestiae voluptas nobis perferendis, sequi eum ut necessitatibus nihil numquam odio dolorem expedita. voluptatem!
					.price__box-item.price__box-item--first
						.price__box-info
							.price-tp Standard
							.price-cost 100 $
							.price-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, ipsa culpa. Neque excepturi nam exercitationem quidem incidunt impedit cupiditate tempore debitis eos, odit sint pariatur deserunt iste id distinctio doloribus.
							button.button.price-buy Купить
					.price__box-item.price__box-item--second
						.price__box-info
							.price-tp Ultimate
							.price-cost 100 $
							.price-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, ipsa culpa. Neque excepturi nam exercitationem quidem incidunt impedit cupiditate tempore debitis eos, odit sint pariatur deserunt iste id distinctio doloribus.
							button.price-buy Купить