.section.section__price#buy-services
	.section__row-1
		h2.section__tittle Сколько стоит это чудо?
	.section__row-2
		.container
			.price__box
				.price__box-list
					.price__box-item.price__box-item--first
						.price__box-info
							.price-tp Lite
							.price-cost 9 $
							button.button.price-buy Купить
							.price-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, ipsa culpa. Neque excepturi nam exercitationem quidem incidunt impedit cupiditate tempore debitis eos, odit sint pariatur deserunt iste id distinctio doloribus.
					.price__box-item.price__box-item--second
						.price__box-info
							.price-tp Standart
							.price-cost 30 $
							button.price-buy.price-buy--popular Купить
							.price-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, ipsa culpa. Neque excepturi nam exercitationem quidem incidunt impedit cupiditate tempore debitis eos, odit sint pariatur deserunt iste id distinctio doloribus.
