.section.section__history
	.section__row-1
		h2.section__tittle Почему моя методика работает?
	.container
		.section__row-2
			.history__box
				.history__box-img
					img.history__box-img--photo(src="img/section/section__history/man.jpg", alt="")
				.history__box-info
					.history__box-tittle Меня зовут Александр Владимирович
					.history__box-text Lorem ipsum <strong>dolor sit amet consectetur adipisicing elit.</strong> Reprehenderit expedita nobis dolorem error excepturi exercitationem explicabo natus. Suscipit perspiciatis earum, repellat animi deserunt pariatur perferendis enim modi dicta autem nihil.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta aliquid aspernatur quaerat rerum cumque vero provident placeat? Doloremque adipisci recusandae facilis eius vero, totam <strong>aliquam nobis distinctio, consequatur, laudantium est.</strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta aliquid aspernatur quaerat rerum cumque vero provident placeat? Doloremque adipisci recusandae facilis eius vero, totam aliquam nobis distinctio, consequatur, laudantium es.Lorem ipsum dolor sit amet consectetur, adipisicing elit.<strong> Soluta aliquid aspernatur</strong> quaerat rerum cumque vero provident placeat? Doloremque adipisci recusandae facilis eius vero, totam aliquam nobis distinctio, consequatur, laudantium es
