.section.section__statistic
	.container
		.section__row-1
			.statistic__box
				.statistic__box-list
					.statistic__box-item
						//- .statistic__box-title We’ve Mobilized
						.statistic__box-numbers(id="target")
						.statistic__box-text Cобственников не могут строить прогнозы и планировать развитие из-за хаоса в учете финаносв
					.statistic__box-item
						//- .statistic__box-title We’ve Facilitated
						.statistic__box-numbers(id="target2")
						.statistic__box-text Попыток <br> маштабирования бизнеса проваливаються из-за игнорирование просчета результатов на финансовой модели
					.statistic__box-item
						//- .statistic__box-title Volunteers Have Contributed
						.statistic__box-numbers(id="target3")
						.statistic__box-text Cобственников бизнеса не знают точную цыфру, сколько компания зарабатывает в год