.section.section__problem
	.section__row-1
		h2.section__tittle Многие предприниматели сталкиваются с этими проблемами
	.section__row-2
		.container
			.content__box.content__box--problem
				.content__box-item
					.content__box-img.content__box-img--problem
						img(src="img/section/section__problem/icon_problem/new/1.png", alt="")
					.content__box-info
						.content__box-info--tittle Постоянные кассовые разрывы?
						//- .content__box-info--text We work with Congress, Federal agencies, and partners on policy issues and legislation to ensure funding for trails, preservation of natural areas, and protection of the hiking experience.
				.content__box-item
					.content__box-img.content__box-img--problem
						img(src="img/section/section__problem/icon_problem/new/2.png", alt="")
					.content__box-info
						.content__box-info--tittle  Реинвестиции ситуативны и не приносят ощутимых результатов?
						//- .content__box-info--text Trails don't maintain themselves. Individuals of any age and experience level can become trail stewards. Give back to the trails you love, meet new people, and enjoy the experience!
				.content__box-item
					.content__box-img.content__box-img--problem
						img(src="img/section/section__problem/icon_problem/new/3.png", alt="")
					.content__box-info
						.content__box-info--tittle Просрочки зарплаты и расчётов с поставщиками понижают репутацию и лояльность к компании?
						//- .content__box-info--text Feel confident when you set out on your next trail adventure. Check out our free hiking resources like tips for hiking with families, gear checklists, finding the best trail for you.
				.content__box-item
					.content__box-img.content__box-img--problem
						img(src="img/section/section__problem/icon_problem/new/4.png", alt="")
					.content__box-info
						.content__box-info--tittle Стрессуете от сведения финансовых операций в конце отчётного периода?
						//- .content__box-info--text We work with Congress, Federal agencies, and partners on policy issues and legislation to ensure funding for trails, preservation of natural areas, and protection of the hiking experience.
				a(href="#buy-services").button.section__problem-button Заказать услугу
		//- .section__row-3
		//- 	button(type="submit").button.section__button Get Started
	include ../blocks/section__decision.pug