.section.section__history
	.section__row-1
		h2.section__tittle Почему моя методика работает?
	.container
		.section__row-2
			.history__box
				.history__box-img
					img.history__box-img--photo(src="img/section/section__history/man-round-2.png", alt="")
				.history__box-info
					.history__box-tittle Не много об авторе
						ul 
							li.history__box-text Более 5 лет на рынке консалтерских услуг;
							li.history__box-text Больше 100 успешных интеграций моей методики;
							li.history__box-text Развиваю бизнес с 2008 года;
							li.history__box-text Я просто крут;
							li.history__box-text Тут какой то текст;
					.history__box-tittle Полезна будет
						ul 
							li.history__box-text Собственники малого бизнеса у которых нет опыта построение системы;
							li.history__box-text Собственники среднего бизнеса которым ещё пока не нужен опытный финансовый директор;
							li.history__box-text Собственники, которые хотят сфокусироваться на развитии;
