.section.section__decision#decision
	.section__row-1
		h2.section__tittle С нашим отчётом вы можете сосредоточиться на важном
	.section__row-2
		.container
			.content__box.content__box--section__decision
				.content__box-item.content__box-item--left
					.content__box-img.content__box-img--left
						img(src="img/section/section__decision/flower.svg", alt="")
					.content__box-info.content__box-info--left
						.content__box-info--tittle.content__box-info--tittle--left Планируйте развитие компании
						.content__box-info--text Средства на эту инвестицию накапливаются и резервируются системой, пока соберется необходимая сумма.
				.content__box-item.content__box-item--right
					.content__box-img.content__box-img--right
						img(src="img/section/section__decision/calendar.svg", alt="")
					.content__box-info.content__box-info--right
						.content__box-info--tittle.content__box-info--tittle--right Прогноз кассовых разрывов
						.content__box-info--text Руководитель может заранее увидеть кассовый разрыв. Это позволяет среагировать на него или подготовить контрагентов о задержках, снизив негативное впечатление.
				.content__box-item.content__box-item--left
					.content__box-img.content__box-img--left
						img(src="img/section/section__decision/statistic.svg", alt="")
					.content__box-info.content__box-info--left
						.content__box-info--tittle.content__box-info--tittle--left Актуальное состояние финансов
						.content__box-info--text Дашборд показывает финансовую ситуацию в организации в реальном времени. Прибыль и расходы на развитие заложены изначально. Излишки не тратятся импульсивно.
				.content__box-item.content__box-item--right
					.content__box-img.content__box-img--right
						img(src="img/section/section__decision/support.svg", alt="")
					.content__box-info.content__box-info--right
						.content__box-info--tittle.content__box-info--tittle--right Распределите время эффективно
						.content__box-info--text У вас отпадет необходимость в постоянном принятии решений как распределить доходы. Логика закладывается один раз и автоматически выполняется. Меняется только при необходимости.